<table class="tbl">
	<colgroup>
		<col width="400"/>
		<col width="400"/>
	</colgroup>
	<tr>
		<td>
			<h4>Blocks</h4>
			<ul class="blocks">
			  <li *ngFor="let block of blocks;let index = index;" [class.selected]="block === selectedBlock" (mouseenter)="onSelect(block)" >
			  
  			  	<a routerLink="/detail/{{block.id}}">
			    	<span class="badge">{{block.id}}</span> {{block.miner}} 
			    </a>
			  
			  </li>
			</ul>
		</td>	
		<td>
			<div *ngIf="selectedBlock">
				<app-block-preview [block]="selectedBlock"></app-block-preview>
			</div>
		</td>
	</tr>
</table>