<div class="container-fluid">
	<div class="card">
		<div class="card-header">
			<h4>Blocks</h4>
		</div>

		<div class="card-body">
			<div class="row justify-content-md-center align-items-center">
				<div class="col">
					<table class="table-striped table-bordered table-hover m-3">
						<thead>
							<tr>
								<th>id</th>
								<th>hash</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let block of blocks;let index = index;">
								<td class="badge p-2 m-1"><a routerLink="/detail/{{block.id}}"
									(mouseenter)="onSelect(block)">{{block.id}}</a></td>
								<td class="p-2 m-1">{{block.miner}}</td>
							</tr>
						</tbody>
					</table>
				</div>
Fun with change detection: [{{blocS}}]
<button #bttn type="button" class="btn btn-primary float-right">Trigger</button>
<input [(ngModel)]="blocS">
<p> Hello {{blocS}}</p>
				<div class="col">
					<div *ngIf="selectedBlock">
						<app-block-preview [block]="selectedBlock"></app-block-preview>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>