  <h1>
    Welcome to {{title}}!
  </h1>


	Your balance: <span ng-change="balance"></span>, or {{balance}}, wei

Your balance = {{balance}}, wei




<div>
	Updateble balance is: <p ng-bind="balance"></p>
	<span [innerHTML]="balance"></span>
	<br/>
</div>

	<br/>
	Accounts: [{{accounts}}]
	<br/>
	Balance: <input ng-model="balance">
	<br/>
	Block #: <span *ngIf="currentBlock; then thenBlock; else elseBlock"></span>
	<ng-template #thenBlock>{{currentBlock}}</ng-template>
	<ng-template #elseBlock>wait ...</ng-template>
	<br/>
	Block ###: <test-component [block] ="currentBlock"></test-component>
	<br/>
	Trans #: {{transactionsNum}}

	<br/>

	Transactions:
	<tsx-component [txs] ="currentTrans"></tsx-component>

<div *ngIf="txs; then thenTxs; else elseTxs"></div>
<ng-template #thenTxs>
	<div style="overflow: auto; width:900px; height:200px; border:1px solid black;">
	    <div class="message-ballon" *ngFor="let tx of currentTrans; let i = index">
	        <p style="white-space: nowrap;"> [{{i + 1}}] {{tx}} </p>
	     </div>
	</div>
</ng-template>
<ng-template #elseTxs>Loading ...</ng-template>

<!-- 
	<row *ngFor="let tx of txs; let i = index" [data]="tx"></row>	
-->	

<div>
	Updated balance is: <p ng-bind="balance"></p>
	<button (click)="well()" title="smaller">Update</button>
	<span ng-change="newBalance"></span> or [{{newBalance}}] and [{{_newBalance}}]
</div>

 