<div class="container">
	<div class="card" *ngIf="block$ | async as block; else loading">

		<div class="card-header">
			<h4 class="text-center">
				Block# {{ block.id }} <span>details</span>
				<button (click)="goBack()" type="button" class="btn btn-primary float-right">Back</button>
			</h4>
		</div>

		<div class="card-body">
			<div class="row">
				<div class="col-sm">
					<span>id:</span>
				</div>
				<div class="col-sm">{{block.id}}</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<span>Miner:</span>
				</div>
				<div class="col-sm">{{block.miner}}</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<span>Difficulty:</span>
				</div>
				<div class="col-sm">{{block.difficulty}}</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<span>Gas Limit:</span>
				</div>
				<div class="col-sm">{{block.id}}</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<span>Gas Used:</span>
				</div>
				<div class="col-sm">{{block.gasUsed}}</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<span>Hash:</span>
				</div>
				<div class="col-sm">{{block.hash}}</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<span>Nonce:</span>
				</div>
				<div class="col-sm">{{block.nonce}}</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<span>Size:</span>
				</div>
				<div class="col-sm">{{block.size}}</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<span>Timestamp:</span>
				</div>
				<div class="col-sm">{{block.timestamp * 1000 | date :
					'MM/dd/yyyy hh:mm:ss a' : timezone}}</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<span>Total Difficulty:</span>
				</div>
				<div class="col-sm">{{block.totalDifficulty}}</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<span>Transactions:</span>
				</div>
				<div class="col-sm">{{block.transactions}}</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<span>Tx List:</span>
				</div>
				<div class="col-sm">
					<a routerLink="/transactions">Transactions</a>
				</div>
			</div>
		</div>

		<button type="button" class="btn btn-info"
			(click)="openModal(template)">Create template modal</button>


		<ng-template #template>
		<div class="card" style="width: 750px;">
			<div class="card-header justify-content-md-center align-items-center">
				<h4>Block Details
				<button type="button" class="close pull-right" aria-label="Close"
					(click)="modalRef.hide()">
					<span aria-hidden="true">&times;</span>
				</button>
				</h4>
			</div>

			<div class="card-body">
				<div class="row">
					<div class="col-2">
						<span>id:</span>
					</div>
					<div class="col-sm">{{block.id}}</div>
				</div>
				<div class="row">
					<div class="col-2">
						<span>Miner:</span>
					</div>
					<div class="col-sm">{{block.miner}}</div>
				</div>
				<div class="row">
					<div class="col-2">
						<span>Difficulty:</span>
					</div>
					<div class="col-sm">{{block.difficulty}}</div>
				</div>
				<div class="row">
					<div class="col-2">
						<span>Gas Limit:</span>
					</div>
					<div class="col-sm">{{block.id}}</div>
				</div>
				<div class="row">
					<div class="col-2">
						<span>Gas Used:</span>
					</div>
					<div class="col-sm">{{block.gasUsed}}</div>
				</div>
				<div class="row">
					<div class="col-2">
						<span>Hash:</span>
					</div>
					<div class="col-lg">{{block.hash}}</div>
				</div>
				<div class="row">
					<div class="col-2">
						<span>Nonce:</span>
					</div>
					<div class="col-sm">{{block.nonce}}</div>
				</div>
				<div class="row">
					<div class="col-2">
						<span>Size:</span>
					</div>
					<div class="col-sm">{{block.size}}</div>
				</div>
				<div class="row">
					<div class="col-2">
						<span>Timestamp:</span>
					</div>
					<div class="col-sm">{{block.timestamp * 1000 | date :
						'MM/dd/yyyy hh:mm:ss a' : timezone}}</div>
				</div>
				<div class="row">
					<div class="col-2">
						<span>Total Difficulty:</span>
					</div>
					<div class="col-sm">{{block.totalDifficulty}}</div>
				</div>
				<div class="row">
					<div class="col-3">
						<span>Transactions:</span>
					</div>
					<div class="col-sm">{{block.transactions}}</div>
				</div>
				<div class="row">
					<div class="col-2">
						<span>Tx List:</span>
					</div>
					<div class="col-sm">
						<a routerLink="/transactions">Transactions</a>
					</div>
				</div>
			</div>
		</div>
		</ng-template>


	</div>

</div>





<div class="card content-fluid w-100" *ngIf="block; else loading">
	<div class="card-header justify-content-md-center align-items-center">
		<h4 class="">
			Block:{{ block.id }} preview
			<button (click)="goBack()" type="button" class="btn btn-primary">Back</button>
		</h4>
	</div>

	<div class="card-body">
		<div class="row">
			<div class="col-2">
				<span>id:</span>
			</div>
			<div class="col">{{block.id}}</div>
		</div>
		<div class="row">
			<div class="col-2">
				<span>Miner:</span>
			</div>
			<div class="col">{{block.miner}}</div>
		</div>
		<div class="row">
			<div class="col-2">
				<span>Difficulty:</span>
			</div>
			<div class="col">{{block.difficulty}}</div>
		</div>
		<div class="row">
			<div class="col-2">
				<span>Gas Limit:</span>
			</div>
			<div class="col">{{block.id}}</div>
		</div>
		<div class="row">
			<div class="col-2">
				<span>Gas Used:</span>
			</div>
			<div class="col">{{block.gasUsed}}</div>
		</div>
		<div class="row">
			<div class="col-2">
				<span>Hash:</span>
			</div>
			<div class="col">{{block.hash}}</div>
		</div>
		<div class="row">
			<div class="col-2">
				<span>Nonce:</span>
			</div>
			<div class="col-sm">{{block.nonce}}</div>
		</div>
		<div class="row">
			<div class="col-2">
				<span>Size:</span>
			</div>
			<div class="col">{{block.size}}</div>
		</div>
		<div class="row">
			<div class="col-2">
				<span>Timestamp:</span>
			</div>
			<div class="col">{{block.timestamp * 1000 | date : 'MM/dd/yyyy
				hh:mm:ss a' : timezone}}</div>
		</div>
		<div class="row">
			<div class="col-2">
				<span>Total Difficulty:</span>
			</div>
			<div class="col">{{block.totalDifficulty}}</div>
		</div>
		<div class="row">
			<div class="col-2">
				<span>Transactions:</span>
			</div>
			<div class="col">{{block.transactions}}</div>
		</div>
		<div class="row">
			<div class="col-2">
				<span>Tx List:</span>
			</div>
			<div class="col">
				<a routerLink="/transactions">Transactions</a>
			</div>
		</div>
	</div>
</div>