<div class="container-fluid">
<div class="dash">
<h4>Info:</h4>
	Coinbase: {{coinbase$ | async}}
	<br/>
	Accounts:
	<br/>
	<table>
	  <tr *ngFor="let act of accounts;let index = index;">
	  <td>
		<a routerLink="/transactions/{{act}}">
	    	<span class="badge">{{act}}</span>
	    </a>
	    </td>
	  </tr>
	</table>
	
	
	
	Balance: {{balanceEther | currency:'&Xi;':'code':'1.2-2'}}
	<br/>
	Balance Wei: {{balance}}
	<br/>
	Last block #: <span *ngIf="latestBlock then thenBlock; else elseBlock"></span>
	<ng-template #thenBlock>{{latestBlock}}</ng-template>
	<ng-template #elseBlock>wait ...</ng-template>
	<br/>
	Trans #: {{transactionsNum}}

</div>

<div class="dash">
	<h4>Last Blocks</h4>
	<div class="grid grid-pad">
	  <a *ngFor="let block of blocks" class="col-1-4" routerLink="/detail/{{block?.id}}">
	    <div class="module block">
	      <h4>{{block?.id}}</h4>
	    </div>
	  </a>
	</div>
</div>
</div>
