<div class="container-fluid">

	<div class="card">
		<div class="card-header">
			<h4 class="float-left">
				Users
			</h4>
		    <button type="button" class="btn btn-success" icon="fa-user-circle" (click)="showAddDialog()">Add User</button>
			 <input class="float-right" #searchBox id="search-box"
					(keyup)="search(searchBox.value)" />
		</div>

		<div class="card-body">
			<div class="row justify-content-md-center align-items-center">
				<div class="col">
					<table class="table-striped table-bordered table-hover m-3">
						<thead>
							<tr>
								<th>id</th>
								<th>name</th>
								<th>status</th>
								<th>date</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let user of users$ | async">
								<td class="badge p-2 m-1">{{user._id}}</td>
								<td class="p-2 m-1"><a href="javascript:void(0)" (click)="showDialog(user._id)">{{user.name}}</a></td>
								<td class="p-2 m-1">{{user.status}}</td>
								<td class="p-2 m-1">{{user.created_date | date :
									'MM/dd/yyyy hh:mm:ss a' : timezone}}</td>
								<td>
									<button pButton title="delete user"
										(click)="delete(user)"  icon="fa-remove"></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card" *ngIf="user; else loading">
<p-dialog header="Title" [(visible)]="display" [width]="400" modal="true">
    <p-header>
        Edit user
    </p-header>
   <h1>User Form</h1>
    <form>
      <div class="form-group">
        <label for="name">Id</label>
        <input [(ngModel)]="user.id" type="text" class="form-control" id="id" name="user.id" required>
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input [(ngModel)]="user.name" type="text" class="form-control" id="name" name="user.name" required>
      </div>
      <div class="form-group">
        <label for="name">Status</label>
        <input [(ngModel)]="user.status" type="text" class="form-control" id="status" name="user.status" required>
      </div>
      <div class="form-group">
        <label for="name">Date</label>
        <input [(ngModel)]="user.created_date" type="datetime" class="form-control" id="created_date" name="user.created_date" required>
      </div>
    </form>
    <p-footer>
      <button type="submit" class="btn btn-primary" icon="fa-close" (click)="updateUser(user)">Save</button>
      <button type="reset" class="btn btn-danger" icon="fa-close" (click)="hideDialog()">Cancel</button>
    </p-footer>
</p-dialog>
</div>
    <!-- 
	    <button pButton type="button" label="Save"></button>
	    <button pButton class="btn btn-danger" type="button" (click)="hideDialog()" icon="fa-close" label="Cancel"></button>
	    -->

	    <div class="card" *ngIf="user; else loading">
<p-dialog header="Title" [(visible)]="displayAdd" [width]="300" modal="true">
    <p-header>
        Create user
    </p-header>
   <h1>User Form</h1>
    <form>
      <div class="form-group">
        <label for="name">Id</label>
        <input [(ngModel)]="user.id" type="text" class="form-control" id="id" name="user.id" required>
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input [(ngModel)]="user.name" type="text" class="form-control" id="name" name="user.name" required>
      </div>
      <div class="form-group">
        <label for="name">Status</label>
        <input [(ngModel)]="user.status" type="text" class="form-control" id="status" name="user.status" required>
      </div>
      <div class="form-group">
        <label for="name">Date</label>
        <input [(ngModel)]="user.created_date" type="datetime" class="form-control" id="created_date" name="user.created_date" required>
      </div>
    </form>
    <p-footer>
      <button type="submit" class="btn btn-primary" icon="fa-close" (click)="createUser(user)">Create</button>
      <button type="reset" class="btn btn-danger" icon="fa-close" (click)="hideAddDialog()">Cancel</button>
    </p-footer>
</p-dialog>
</div>
	    