<div class="container-fluid">

<!-- 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
-->

<table class="table table-dark" id="table_id">

	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">miner</th>
			<th scope="col">Difficulty</th>
			<th scope="col">Gas Limit</th>
			<th scope="col">Gas Used</th>
			<!-- th scope="col">Hash</th-->
			<th scope="col">Nonce</th>
			<th scope="col">Size</th>
			<th scope="col">Timestamp</th>
			<th scope="col">Total Difficulty</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let block of blocks;let index = index;">
			<td>{{block.id}}</td>
			<td>{{block.miner}}</td>
			<td>{{block.difficulty}}</td>
			<td>{{block.gasLimit}}</td>
			<td>{{block.gasUsed}}</td>
			<!-- td>{{block.hash}}</td-->
			<td>{{block.nonce}}</td>
			<td>{{block.size}}</td>
			<td>{{block.timestamp}}</td>
			<td>{{block.totalDifficulty}}</td>
		</tr>
	</tbody>

</table>

</div>
