<!-- 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
-->

<table class="blockTable" id="table_id">

	<thead>
		<tr>
			<th>Id</th>
			<th>miner</th>
			<th>Difficulty</th>
			<th>Gas Limit</th>
			<th>Gas Used</th>
			<!-- th>Hash</th-->
			<th>Nonce</th>
			<th>Size</th>
			<th>Timestamp</th>
			<th>Total Difficulty</th>
		</tr>
	</thead>
	<tr *ngFor="let block of blocks;let index = index;">
		<td>{{block.id}}</td>
		<td>{{block.miner}}</td>
		<td>{{block.difficulty}}</td>
		<td>{{block.gasLimit}}</td>
		<td>{{block.gasUsed}}</td>
		<!-- td>{{block.hash}}</td-->
		<td>{{block.nonce}}</td>
		<td>{{block.size}}</td>
		<td>{{block.timestamp}}</td>
		<td>{{block.totalDifficulty}}</td>
	</tr>

</table>